<p id="notice"><%= notice %></p>

<% if current_user.present? %>

<h2> ¡Bienvenido <%= current_user.email %>! </h2>


<div class="container my-3">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://t4.ftcdn.net/jpg/02/19/79/57/360_F_219795787_VhDmEIYQH1vRSB9fLZePgMALWYAebRBx.jpg" class="d-block w-100 fixed-height" style="height:500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:powderblue;">Vamos A La Cancha</h5>
        <p style="background-color:tomato;">¡Encuentra esa cancha que tanto buscas!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://cl.habcdn.com/photos/quotation/gallery/piscina-olimpica-san-borja-03-144495.jpg" class="d-block w-100 fixed-height" style="height:500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:powderblue;">Vamos A La Piscina También</h5>
        <p style="background-color:tomato;">¡Lánzate un piquero a buscar tu nueva piscina!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBsrWC1-HFJPdADVsmRveciAcpFi8WLb7I_A&usqp=CAU&ec=45761791" class="d-block w-100 fixed-height" style="height:500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:powderblue;">Y tú, ¿te atreves a patearlo?</h5>
        <p style="background-color:tomato;">No dejes a otros lanzar tu penal</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>

<%= link_to 'Eventos', events_path, class: "btn btn-primary col-md-1" %>

<table>

  <h1 class="text-center my-5">Deportes</h1>
    <div class="row my-5">
      <% @sports.each do |sport| %>
        <div class="col-sm-4">
          <div class="thumbnail">
              <div class="caption text-center text-justify">
              <h3> <%= sport.name %></h3>
              <%= link_to 'Ver Deporte', places_path, class: "btn btn-warning"  %>
              <%= link_to 'Edit', edit_sport_path(sport), class: "btn btn-warning" %>
              <%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>             
              </div>
            </div>
          </div>
        <% end %>
    </div>

</table>

<br>

<%= link_to 'New Sport', new_sport_path %>

<% else %>
  <table>
      <th>
        <h1 style="text-align: center; color:red;">Ala Canchapp </h1>
        <h3 style="text-align: center; color:blue;">Ala Canchapp es una aplicación creada para ayudar a los distintos deportistas a conectarse con sus pares, 
        y sobre todo para ayudar a personas que quieran iniciar en el mundo de algún deporte, 
        aquí encontrarán toda la información necesaria para poder ir a practicar.</h3>
        <br>
        <h4 style="text-align: center; color:blue;">Esto nace por una experiencia personal, al intentar iniciar en el mundo del básquetbol me encontré con un enorme problema, 
        no sabía donde ni cuando se jugaba. Busqué por internet para encontrar canchas o grupos de basquetbolistas, 
        pero no había nada. Y como yo, son muchos los que se encuentran con este problema a diario. </h4>
        <br>
        <h4 style ="text-align: center; color:green;">Aquí encontrarán la razón para que no hayan más excusas, y solo quedén las ganas de ir A la Cancha.</h4>
      </th>
  </table>
<% end %>

