<p id="notice"><%= notice %></p>

<% if current_user.present? %>

<h2> ¡Bienvenido <%= current_user.email %>! </h2>


<div class="container my-3">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="<%= asset_path 'inesdesuarez.jpg' %>" class="d-block w-100 fixed-height" style="height:500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:powderblue;">Vamos A La Cancha</h5>
        <p style="background-color:tomato;">¡Encuentra esa cancha que tanto buscas!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="<%= asset_path 'estadionacional.jpg' %>" class="d-block w-100 fixed-height" style="height:500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:powderblue;">Vamos A La Piscina También</h5>
        <p style="background-color:tomato;">¡Lánzate un piquero a buscar tu nueva piscina!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path 'loscancheros.jpg' %>" class="d-block w-100 fixed-height" style="height:500px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:powderblue;">Y tú, ¿te atreves a patearlo?</h5>
        <p style="background-color:tomato;">No dejes a otros lanzar tu penal</p>
      </div>
    </div>
  </div>
</div>
</div>

<br>
<div class="container mx-auto d-flex my-4">
  <div class="border-bottom w-100"></div>
</div>
<br>
<section class="container d-md-block" style="background-color: #ffc107;">
<div class="">
  <h1 class="text-center my-5">ALACANCHAPP</h1>
  <div class="row">
    <div class="col-lg-5">
      <img  class="w-100 mb-4 border border-md border-white shadow-sm" src="<%= asset_path 'cancha.jpg' %>">
    </div>
    <div class="col-lg-7">

      <h4 class=" text-justify"> AlaCanchapp es una app creada con la intención de conectar tanto a los deportistas, como a los que quieren empezar.</h4>
      <br>
      <h4 class=" text-justify"> Aquí encontrarás diferentes deportes, donde podrás buscar lugares para practicarlos y también en los horarios que se practican.</h4>
      <br>
      <h4 class=" text-justify"> En la sección eventos podrás interactuar con otros usuarios, para armar equipos o campeonatos (en los detalles del evento, se publicará tu email para que te puedan contactar).</h4>
      <br>
      <h4 class=" text-justify "> ¡Qué esas ganas de partir o volver a un  deporte no quede en las puras ganas! </h4>
      <br>
      <h4 class=" text-justify "> A los cabros les falta uno para el 3 contra 3 ¿les vas a decir que no? </h5>
    </div>
  </div>
</div>
</section>
<br>
<section>
<h1 class="text-center my-5">Ve a ver los distintos eventos</h1>
  <div style="text-align: center;">
  <%= link_to 'Eventos', events_path, class: "button" %>
  </div>
  <table>
    <tbody>
    <h1 class="text-center my-5">Deportes</h1>
        <% @sports.each do |sport| %>
              <tr>
                <td><% if can? :manage, @sports %><h1><%= sport.name %></h1><% end %></td>
                <td><% if can? :update, sport %><%= link_to 'Editar', edit_sport_path(sport), class: "button" %><% end %></td>
                <td><% if can? :destroy, sport %><%= link_to 'Eliminar', sport, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %><% end %></td>
              </tr>             
        <% end %>
        <div style="text-align: center;">
          <%= link_to 'Ver Deportes', places_path, class: "button my-4" %>
        </div>
    </tbody>
  </table>

<br>

  <td><% if can? :manage, @sports %><%= link_to 'Nuevo Deporte', new_sport_path, class: "button my-4" %><% end %></td>
</section>
<% else %>
  <body class="not-logged">
  <div class="container col-6" style="float: right;">
    <table>
      <th>
        <h1 style="text-align: right; color:red; padding-left: 30px;">Ala Canchapp </h1>
        <br>
        <h3 style="text-align: right; color:black; padding-left: 50px;">Ala Canchapp es una aplicación web creada para ayudar a los 
          deportistas a conectar entre ellos, y sobre todo para quienes tienen ganas de partir en algo nuevo.</h3>
        <br>
        <h3 style="text-align: right; color:black; padding-left: 30px;">Quizás eres el próximo Sakuragi, pero no aún lo has intentado. </h3>
        <br>
        <h3 style ="text-align: right; color:black; padding-left: 100px;">Aquí encontrarán la razón para que no hayan más excusas, y solo quedén las ganas de ir A la Cancha.</h3>
      </th>
    </table>
    </div>
  </body>
<% end %>

