<% if @events.present? %>

<table>
  <thead>
    <tr>
      <th style="background-color: #ffc107;">Evento</th>
      <th style="background-color: #ffc107;">Descripción</th>
      <th style="background-color: #ffc107;">Usuario</th>
      <th style="background-color: #ffc107;" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><h4><%= event.title %></h4></td>
        <td><h4><%= event.comment %></h4></td>
        <td><%= link_to 'Detalles', event, class: "button" %></td>
        <td><% if can? :update, event %><%= link_to 'Editar', edit_event_path(event), class: "button" %><% end %></td>
        <td><% if can? :destroy, event %><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<th><h2> Eventos creados esta semana </h2></th>
<%= column_chart Event.group_by_day_of_week(:created_at, format: "%a").count %>
<th><h2> Lugares disponibles según deporte </h2></th>
<%= pie_chart Place.group(:sport_id).count %>


<% else %>
<h1> ¡Ve a crear tu primer evento! </h1>

<%= link_to 'Eventos', new_event_path, class="button" %>

<% end %>