<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table>
  <thead>
    <tr>
      <th style="background-color: #ffc107;">Descripción</th>
      <th style="background-color: #ffc107;" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.description %></td>
        <td><%= Place.find_by({:id => schedule.place_id}).name %></td>
        <td><%= link_to 'Ver Detalles', schedule, class: "button" %></td>
        <td><% if can? :update, schedule %><%= link_to 'Editar', edit_schedule_path(schedule), class: "button" %><% end %></td>
        <td><% if can? :destroy, schedule %><%= link_to 'Eliminar', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><% if can? :manage, @schedules %><%= link_to 'Nuevo Horario', new_schedule_path, class: "button" %><% end %></td>
