<p id="notice"><%= notice %></p>

<h1 class="text-center my-5" style="color:#ffc107;">Eventos</h1>

<body class="events-body">
  <table background="<%= asset_path 'tablalugares.jpg' %>">
    <thead>
      <tr>
        <th style="background-color: #ffc107;">Evento</th>
        <th style="background-color: #ffc107;">Descripción</th>
        <th style="background-color: #ffc107;">Usuario</th>
        <th style="background-color: #ffc107;" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.comment %></td>
          <td><%= link_to 'Detalles', event, class: "button" %></td>
          <td><% if can? :update, event %><%= link_to 'Editar', edit_event_path(event), class: "button" %><% end %></td>
          <td><% if can? :destroy, event %><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>

<br>

<%= link_to 'Nuevo Evento', new_event_path, class: "button" %>