<p id="notice"><%= notice %></p>

<h1 class="text-center my-5">Eventos</h1>

<table>
  <thead>
    <tr>
      <th style="background-color: #ffc107;">Evento</th>
      <th style="background-color: #ffc107;">Descripción</th>
      <th style="background-color: #ffc107;">Usuario</th>
      <th style="background-color: #ffc107;" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><h4><%= event.title %></h4></td>
        <td><h4><%= event.comment %></h4></td>
        <td><%= link_to 'Detalles', event, class: "button" %></td>
        <td><% if can? :update, event %><%= link_to 'Editar', edit_event_path(event), class: "button" %><% end %></td>
        <td><% if can? :destroy, event %><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Evento', new_event_path, class: "button" %>