<p id="notice"><%= notice %></p>

<p>
  <strong>Evento:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @event.comment %>
</p>

<p>
  <strong>Email de contacto:</strong>
  <%= User.find_by({:id => @event.user_id}).email %>
</p>

<% if can? :update, @event %><%= link_to 'Edit', edit_event_path(@event) %> | <% end %>
<%= link_to 'Back', events_path %>
