<p id="notice"><%= notice %></p>

<p>
  <strong>Evento:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @event.comment %>
</p>


<p>
  <strong>Email de contacto:</strong>
  <%= @event.user.email %>
</p>

<% if can? :update, @event %><%= link_to 'Editar', edit_event_path(@event) %> | <% end %>
<%= link_to 'Atrás', events_path %>
