<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Dirección %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :Deporte %>
    <%= form.select :sport_id, Sport.all.collect {|c| [c.name, c.id]}, {} ,id: :place_sport_id, include_blank:false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
